* {
    margin: 0;
    padding: 0;
}

.info {
    display: flex;
    justify-content: space-between;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 40px;
}
.container {
    display: flex;
    justify-content: center;
    margin: 10px;
}

canvas {
    border: 2px solid black;
}