* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.app-title {
    color: white;
}

canvas {
    margin-top: 20px;
    border: 2px solid white;
}