* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

canvas {
    border: 5px solid white;
}